body{
    min-height: 100vh;
    font-size: 36px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    border: 2px solid black;
    padding: 30px;
}